.control-group{
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    width: 50%;
}

.control-label{
    margin-right: 15px;
}

.control-select{
    height: 24px;
    min-height: 24px;
}

.btn-primary {
    margin: 0 auto;
    display: block;
}

.control-input{
    min-width: 200px;
}

.control-select{
    min-width: 200px;
}