@import './../../shared/styles/_colors.scss';
@import './../../shared/styles/_forms.scss';

.form-container{
    margin: 0 auto;
    width: 80vw;
    height: 70vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-content: space-around;
}
